.custom-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.25s ease-out;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &.unfilled {
      background-color: #fff;
      color: black;

      &:hover {
        transform: scale(1.25);
      }
    }

    &.filled {
      &:hover {
        background-color: #2980b9;
      }
    }
  }

  &.border {
    border-radius: 8px;
    border: 1px solid #3498db;
  }
}

.icon-container {
  width: 24px;
  height: 24px;

  &__margin {
    margin-right: 1rem;
  }
}
