.modal {
  border: 1px solid #ccc;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  max-height: 80vh;
}

.close-modal {
  justify-content: end;
  margin: 0;

  .custom-button {
    padding: 0;
  }

  .icon-container {
    height: 20px;
  }
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
